<div class="container mb-5">
    <div class="row justify-content-center mb-5">
        <div class="col-md-7 mb-5">
            <h1 class="my-5">Đăng ký thành viên nhận coupon miễn phí</h1>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/EXP-PhongCachXanh-v3_1024x1024.jpg?v=1678857058" style="width: 100%; height: auto;" class="my-3" alt="">
            <div class="sale">
                <header class="my-4">Giảm giá đến 1 triệu đồng</header>
                <h3>Khi đăng ký thành viên và đổi điểm EXP mua hàng tại Phong Cách Xanh.</h3>
                <p class="my-2">- Mã giảm giá <span>100.000đ</span></p>
                <p>  + 2.000.000 EXP</p>
                <p class="my-2">- Mã giảm giá <span>500.000đ</span></p>
                <p>  + 15.000.000 EXP</p>
                <p class="my-2">- Mã giảm giá <span>1.000.000đ</span></p>
                <p>  + 25.000.000 EXP</p>
            </div>

            <div class="quyenloi">
                <header class="my-4">Quyền lợi của bạn khi đăng ký thành viên</header>
                <h3>Giới thiệu bạn bè mua sắm, <span>GIẢM GIÁ X2</span></h3>
                <p>- Bạn nhận được: code giảm giá 5%.</p>
                <p>- Bạn của bạn nhận được: giảm giá 5% khi đặt hàng qua link giới thiệu của bạn.</p>

                <h3>Nhận miễn phí EXP để đổi mã giảm giá:</h3>
                <p>- 500.000 EXP khi đăng ký thành công.</p>
                <p>- 2.000.000 EXP khi đến sinh nhật của bạn.</p>

                <h3>Được tích điểm mua sắm 1 đồng = 1 EXP.</h3>
                <p>- Ví dụ: 1.000.000đ = 1.000.000 EXP.</p>
                <p>- Dùng điểm EXP để đổi voucher giảm giá khi đặt hàng qua website.</p>   
            </div>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/EXP-PhongCachXanh-parallax_1024x1024.jpg?v=1678857087" style="width: 100%; height: auto;" class="my-3" alt="">

            <header class="my-4">Hướng dẫn giúp bạn nhận toàn bộ "đặc quyền" trên</header>
            <h4 class="my-3">Bước 1</h4>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/buoc-1-dang-ky-thanh-vien-PCX-v2_600x600.jpg?v=1678857234" style="width: 100%; height: auto;" class="my-3" alt="">
            <p>- Nhấn vào biểu tượng "Tích điểm EXP" ở góc dưới bên trái màn hình.</p>
            <p>- Sau đó nhấn bắt đầu tích điểm.</p>
            
            <h4 class="my-3">Bước 2</h4>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/buoc-4-dang-ky-thanh-vien-PCX_600x600.jpg?v=1678857268" style="width: 100%; height: auto;" class="my-3" alt="">
            <p>- Nhập các thông tin theo các trường như hình và nhấn tạo tài khoản.</p>
            <p>- <span>Lưu ý:</span> Nếu bạn đã có tài khoản <span>đăng ký</span> trước, hãy nhấn <span>Đăng nhập</span>.</p>

            <h4 class="my-3">Bước 3</h4>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/buoc-4-dang-ky-thanh-vien-PCX_600x600.jpg?v=1678857268" style="width: 100%; height: auto;" class="my-3" alt="">
            <p>Bạn hãy quay lại cửa hàng Phong Cách Xanh. Bây giờ bạn có thể:</p>
            <div class="sale">
                <p>- Tích điểm EXP - Đổi mã giảm giá.</p>
                <p>- Giới thiệu bạn bè, nhận code giảm giá 5%.</p>
                <p>- Bạn của bạn sẽ được giảm giá 5%.</p>
            </div>

            <h5 class="my-3" style="font-size: 30px; font-weight: 500;">Đăng ký nhanh qua link sau</h5>
            <a href="" style="text-decoration: none; color: red; font-weight: 500;">ĐĂNG KÝ NGAY</a>
            <header class="my-4">Hướng dẫn lấy link giới thiệu mua hàng</header>
            <p style="text-align: center;"><span>Bạn nhận được</span>: code giảm giá 5%.</p>
            <p style="text-align: center;"><span>Bạn của bạn nhận được</span>: giảm giá 5% khi đặt hàng qua link giới thiệu của bạn.</p>

            <h4 class="my-3">Bước 1</h4>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/huong-dan-gioi-thieu-mua-hang-web-phong-cach-xanh__2_600x600.jpg?v=1678857392" class="my-3" style="width: 100%; height: auto;" alt="">
            <p>Đăng nhập bằng email và mật khẩu của bạn.</p>

            <h4 class="my-3">Bước 2</h4>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/huong-dan-gioi-thieu-mua-hang-web-phong-cach-xanh__3_600x600.jpg?v=1678857382" class="my-3" style="width: 100%; height: auto;" alt="">
            <p>Nhấn vào biểu tượng "Tích điểm EXP" ở góc dưới bên trái màn hình hoặc nhấn vào nút bên dưới.</p>

            <h4 class="my-3">Bước 3</h4>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/huong-dan-gioi-thieu-mua-hang-web-phong-cach-xanh__1_600x600.jpg?v=1678857451" class="my-3" style="width: 100%; height: auto;" alt="">
            <p>- Nhấn nút Giới thiệu bạn bên dưới.</p>
            <p>- Copy liên kết của bạn qua icon copy.</p>
            <p>- Paste đường link của bạn cho một người bạn để nhận giảm giá 5% cho đơn đặt hàng và bạn nhận code giảm giá 5%</p>
            <p>Bạn có thể tra cứu lịch sử giới thiệu đơn hàng của bạn tại icon như hình bên dưới.</p>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/gioi-thieu-mua-hang-v2_600x600.jpg?v=1678857520" class="my-3" style="width: 100%; height: auto;" alt="">
            <p>Hoặc qua Lịch sử giới thiệu</p>

            <header class="my-4">Hướng dẫn đổi Coupon giảm giá</header>
            <h4 class="my-3">Bước 1</h4>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/huong-dan-gioi-thieu-mua-hang-web-phong-cach-xanh__2_600x600.jpg?v=1678857392" class="my-3" style="width: 100%; height: auto;" alt="">
            <p>Đăng nhập bằng email và mật khẩu của bạn.</p>
            <h4 class="my-3">Bước 2</h4>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/huong-dan-gioi-thieu-mua-hang-web-phong-cach-xanh__3_600x600.jpg?v=1678857382" class="my-3" style="width: 100%; height: auto;" alt="">
            <p>Nhấn vào biểu tượng "Tích điểm EXP" ở góc dưới bên trái màn hình.</p>
            <h4 class="my-3">Bước 3</h4>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/EXP-PhongCachXanh-doi-coupon-v2_600x600.webp?v=1678857593" class="my-3" style="width: 100%; height: auto;" alt="">
            <p>- Mã giảm giá sắp đủ điểm sẽ hiện ở trên cùng.</p>
            <p>- Nhấn vào mục "Nhận ưu đãi" để đổi mã giảm giá.</p>
            <p>- Sau khi đổi ưu đãi thành công, bạn sẽ bị trừ số điểm EXP tương ứng với giá trị coupon.</p>
            <p>- Tra cứu ưu đãi đã nhận tại mục Ưu đãi.</p>
            <p>- Ngoài ra mã giảm giá bạn vừa đổi cũng được gửi về email của bạn để bạn có thêm phương thức tra cứu. Email chứa mã giảm giá của bạn có dạng như sau:</p>

            <header class="my-4">Các câu hỏi thường gặp</header>
            <h5 class="mb-3"><span>Điểm EXP sau khi đăng ký thành viên có thể đổi lập tức thành coupon mua hàng?</span></h5>
            <p>- Ngay khi đăng ký, bạn sẽ nhận 500.000 EXP mà không cần mua hàng. Tuy nhiên số điểm này không đủ để đổi coupon và bạn cần mua hàng, tích điểm nhiều hơn để đổi coupon.</p>
            <h5 class="mb-3"><span>Điểm EXP có được đổi coupon để áp dụng ngay đơn hàng đang đặt không?</span></h5>
            <p>- Trong trường hợp điểm EXP của bạn đủ để đổi coupon, bạn có thể đổi và áp dụng vào mục mã giảm giá trước khi xác nhận đơn hàng.</p>
            <p>- Nếu điểm EXP của bạn chưa đủ đổi coupon, bạn cần tích thêm điểm.</p>
            <h5 class="mb-3"><span>Khi nào tôi được cộng thêm điểm EXP?</span></h5>
            <p>- Sau khi đơn hàng của bạn hoàn tất, hệ thống sẽ tự động cộng thêm điểm EXP cho bạn. Bạn có thể check điểm EXP hiện có ở mục tích điểm EXP và đổi coupon giảm giá sử dụng sau này.</p>
            <h5 class="mb-3"><span>Chương trình giới thiệu link mua hàng có áp dụng cho mua hàng trực tiếp tại cửa hàng?</span></h5>
            <p>- Để sử dụng link mua hàng được giảm giá, bạn phải đặt hàng trên website Phong Cách Xanh thông qua link giới thiệu.</p>
            <h5 class="mb-3"><span>Các coupon giảm giá có thể áp dụng khi mua hàng trực tiếp tại cửa hàng?</span></h5>
            <p>- Để sử dụng coupon giảm giá, bạn có thể đặt hàng trên website Phong Cách Xanh hoặc đến trực tiếp tại cửa hàng.</p>
            <h5 class="mb-3"><span>Khi đủ điểm EXP ở một mốc coupon, mặc định tôi phải lấy coupon đó không?</span></h5>
            <p>- Khi đủ điểm đổi một coupon, bạn có quyền đổi điểm EXP lấy coupon tương ứng hoặc không đổi để tích thêm điểm EXP lấy những coupon có giá trị cao hơn.</p>

        </div>
    </div>
</div>