<div class="container mb-5">
    <div class="row justify-content-center mb-5">
        <div class="col-md-7 mb-5">
            <h1 class="my-5">Liên hệ</h1>
            <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/89_H_Van_Hue_p.9_q.Phu_Nhu_n_TP.HCM_1_1024x1024.png?v=1679470484" style="width: 100%; height: auto;" alt="">
            <h2 class="mt-5"><span style="font-weight: bold;">Phong Cách Xanh</span> là nhà phân phối độc quyền các thương hiệu lớn trên thế giới như bàn phím cơ Filco (từ tập đoàn Diatec – Nhật Bản), bàn phím cơ Realforce (từ tập đoàn Topre – Nhật Bản), cân màu Spyder (từ tập đoàn Datacolor – Mỹ), gaming gear thương hiệu Glorious (Glorious PC Gaming Race - Mỹ), Pulsar (Hàn Quốc), Lamzu, Ninjutso, Skypad (Đan Mạch), Corepad (Đức), Lethal Gaming Gear (Mỹ) và Finalmouse (Mỹ).
            </h2>
            <h3 class="mt-4 mb-4">Thông tin doanh nghiệp:</h3>
            <p>- Giấy phép ĐKKD: 0307185382</p>
            <p>- Ngày cấp: 04 tháng 02 năm 2009</p>
            <p>- Nơi cấp: sở KHĐT TP.Hồ Chí Minh</p>
            <h3 class="mt-4 mb-4">Thông tin liên hệ:</h3>
            <p>- Địa chỉ: 89 Hồ Văn Huê, P9, Q.Phú Nhuận Hồ Chí Minh Việt Nam</p>
            <p>- Trang web chính thức của công ty: www.phongcachxanh.vn</p>
            <p>- Điện thoại (028) 6.292.1182</p>
            <p>- Hotline hỗ trợ khách hàng: 0904.135.321 và 0899.454.393 </p>
            <p>- Email: info@phongcachxanh.vn</p>
            <p>- Fanpage Phong Cách Xanh: www.facebook.com/ctyphongcachxanh</p>
            <p>- Fanpage Filco: www.facebook.com/filcovietnam </p>
            <p>- Fanpage Spyder: www.facebook.com/DatacolorSpyderVN</p>
            <h4 class="my-4">Click vào chức năng Chat - Hỗ trợ trực tuyến ở góc dưới bên phải của website www.phongcachxanh.vn để được nhân viên tư vấn & trả lời nhanh nhất.</h4>
            <h3 class="mt-4 mb-4">Thời gian làm việc:</h3>
            <p>- Các ngày trong tuần: 8h30 - 20h</p>
            <p>- Chủ nhật và ngày lễ: 8h30 – 20h</p>
        </div>
    </div>
</div>
