<div class="login">
    <div class="container">
      <div class="row ">
        <div class="col-md-6 mx-auto">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="form-login" style="background-color: rgba(39, 39, 39, 0.12);">
            <h1 style="margin-top: -35px; margin-bottom: 40px; font-weight: 500;">Khôi phục mật khẩu</h1>
            <div class="mb-3 mt-4">
              <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"/>
              <div *ngIf="forgotPasswordForm.get('email')!.hasError('required') && forgotPasswordForm.get('email')!.touched" class="text-danger">
                Email không được để trống
              </div>
              <div *ngIf="forgotPasswordForm.get('email')!.hasError('email') && forgotPasswordForm.get('email')!.touched" class="text-danger">
                Email không hợp lệ
              </div>
            </div>
            <button type="submit" class="btn mb-3 mt-3">Khôi phục</button><br>
            <h2 style="font-size: 16px; font-weight: 400;" routerLink="/auth/login">Quay về đăng nhập</h2>
          </form>
        </div>
      </div>
    </div>
  </div>