<!--model-cart-->
<div
class="offcanvas offcanvas-end model-cart"
tabindex="-1"
id="offcanvasRight1"
aria-labelledby="offcanvasRightLabel"
>
<div class="offcanvas-header">
  <button
    type="button"
    class="btn-close ms-auto"
    data-bs-dismiss="offcanvas"
    aria-label="Close"
  ></button>
</div>
<div class="offcanvas-body model-cart-body mx-auto">
  <span><i class="fa-solid fa-cart-shopping"></i></span>
  <p>Chưa có sản phẩm</p>
  <button class="btn btn-primary" type="submit">Button</button>
</div>
</div>