<header>
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-md-8 mt-5 text-center">
                <h1 class="mt-2">Tin tức</h1>
                <p class="mt-4 mb-4">Đăng ký nhận email quảng cáo để được cập nhật thông tin mới nhất về tin tức và chương trình khuyến mãi.</p>
                <h2 class="my-4">Bạn có thể hủy đăng kí bất kì lúc nào</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto"> 
                <form action="/action_page.php">
                    <div class="mb-3 mt-3">
                      <input type="email" class="form-control" id="email" placeholder="E-email" name="email">
                    </div>
                </form>
            </div>
            <div class="col-auto"> 
                <button class="btn mb-3 mt-3" type="button"><i class="fa-regular fa-envelope mx-2"></i>Gửi</button>
            </div>
        </div>
    </div>
</header>
