<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-md-3">
                <p>Công ty TNHH Phong Cách Xanh</p>
                <h2>Giấy phép ĐKKD: 0307185382 do <br>Sở KH-ĐT TP.HCM cấp ngày <br>04/02/2009</h2>
                <h2>Nhà phân phối độc quyền các <br>thương hiệu Filco - Glorious - <br>Pulsar - Lamzu - SkyPAD - <br>Corepad - Lethal Gaming Gear - Finalmouse - Ninjutso - Spyder</h2>
                <h3>© 2023, Phong Cách Xanh.</h3>
            </div>
            <div class="col-md-3">
                <p>Thông tin liên hệ</p>
                <h2>89 Hồ Văn Huê, P9, Q.Phú Nhuận, TP.HCM</h2>
                <h2>Giờ làm việc: 8:30 sáng - 8:00 tối</h2>
                <h2>(028)6.292.1182</h2>
                <h2>0904.135.321</h2>
                <h2>0899.454.393</h2>
            </div>
            <div class="col-md-4">
                <h1 style="font-size: 20px;">Nhận tin khuyến mãi</h1>
                <input type="Email" placeholder="Email">
            </div>
            <div class="col-md-2">
                <p>Các chính sách</p>
                <h2>Trả góp 0%</h2>
                <h2>Chính sách bảo hành</h2>
                <h2>Chính sách vận chuyển</h2>
                <h2>Chính sách hoàn tiền</h2>
                <h2>Điều khoản dịch vụ</h2>
                <h2>Chính sách bảo mật</h2>
                <h2>Affiliate Program
                </h2>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <img src="https://webmedia.com.vn/images/2021/09/logo-da-thong-bao-bo-cong-thuong-mau-xanh.png" style="height: 80px; height: 110px;" alt="">
            </div>
        </div>
    </div>
</footer>
