<!--Model sản phẩm-->
<div
class="offcanvas offcanvas-start model-sanpham"
data-bs-scroll="true"
tabindex="-1"
id="offcanvasWithBothOptions"
aria-labelledby="offcanvasWithBothOptionsLabel"
>
<div class="offcanvas-header">
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="offcanvas"
    aria-label="Close"
  ></button>
</div>
<div class="offcanvas-body">
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
    data-bs-toggle="offcanvas"
    href="#offcanvasExample1"
    role="button"
    aria-controls="offcanvasExample1"
  >
    <a href="/">Bundle</a>
    <i class="fa-solid fa-angle-right"></i>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Chuột</a>
    <i class="fa-solid fa-angle-right"></i>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Bàn phím cơ</a>
    <i class="fa-solid fa-angle-right"></i>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Lót chuột</a>
    <i class="fa-solid fa-angle-right"></i>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Bundle</a>
    <i class="fa-solid fa-angle-right"></i>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Feet chuột & Grip tape</a>
    <i class="fa-solid fa-angle-right"></i>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Phụ kiện bàn phím cơ</a>
    <i class="fa-solid fa-angle-right"></i>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Linh kiện PC</a>
    <i class="fa-solid fa-angle-right"></i>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Ghế công thái học</a>
    <i class="fa-solid fa-angle-right"></i>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Setup góc làm việc</a>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Tai nghe</a>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Thiết bị cân màu</a>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Tay cầm chơi game</a>
  </span>
  <span
    style="
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin: 20px;
    "
  >
    <a href="/">Playstation 5</a>
  </span>
</div>
</div>

  <!--model bundle-->
  <div
    class="offcanvas offcanvas-start model-sanpham1"
    tabindex="-1"
    id="offcanvasExample1"
    aria-labelledby="offcanvasExampleLabel"
  >
    <div class="offcanvas-header">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <span
        style="
          display: flex;
          justify-content: space-between;
          margin-left: 20px;
          margin: 20px;
        "
      >
        <a href="/">Bundle</a>
        <i
          class="fa-solid fa-angle-right"
          data-bs-toggle="offcanvas"
          href="#offcanvasExample"
          role="button"
          aria-controls="offcanvasExample"
        ></i>
      </span>
      <span
        style="
          display: flex;
          justify-content: space-between;
          margin-left: 20px;
          margin: 20px;
        "
      >
        <a href="/">Chuột</a>
        <i class="fa-solid fa-angle-right"></i>
      </span>
    </div>
  </div>
